.about {
  height: 100%;
  display: grid;
  overflow-y: inherit;

  grid-template-columns: [s] 1fr [mid] 1fr [en];
  grid-template-rows: [about-s] 60px [about-e me-s] 0.5fr [me-e extra-s] 1fr [extra-e];
  grid-row: about-s/about-e;
  width: 100%;
  justify-self: center;

  .about-pat {
    display: grid;
    width: 90vw;
    justify-self: center;
    grid-column: 1/-1;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 22px;
    font-weight: 600;
    color: #a01697;
    border: 1px solid #fff;
    background-color: #80ced6;
    height: 60px;
    border: 1px solid #a01697;
  }
}

.about-photo {
  img {
    max-height: 400px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.27);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.27);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.27);
  }
}

.top-side-wrapper {
  display: flex;
  flex-direction: row;
  grid-column: 1/-1;
  grid-row: me-s/me-e;
  justify-content: center;
  align-self: center;
  margin-bottom: 40px;
  height: 200px;
}

.image-container {
  align-content: center;
  max-height: 100px;
  max-width: 150px;
  margin: 35px;
  img {
    width: 100%;
    height: auto;
    -webkit-box-shadow: 12px 14px 5px 0px rgba(0, 0, 0, 0.27);
    -moz-box-shadow: 12px 14px 5px 0px rgba(0, 0, 0, 0.27);
    box-shadow: 12px 14px 5px 0px rgba(0, 0, 0, 0.27);
  }
  .react-image {
    width: 130%;
    height: auto;
  }
}

.about-photo {
  display: grid;
  justify-content: center;

  h2 {
    margin-right: 20px;
  }
}

.introduction,
.my-name {
  font-size: 16px;
  display: flex;
  justify-content: center;
  font-family: "Open-sans";
}
.bottom-side-wrapper {
  display: flex;
  grid-column: 1/-1;
  justify-content: space-around;
  flex-wrap: wrap;
}
.bio-wrapper {
  display: grid;
  grid-row: extra-s/extra-e;
  grid-column: mid/en;
  align-content: center;
  justify-self: center;
  max-width: 300px;
  min-height: 300px;
  background-color: #80ced6;
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    75% 75%,
    75% 100%,
    50% 75%,
    0% 75%
  );
  -webkit-clip-path: polygon(
    32% 10%,
    63% 10%,
    100% 30%,
    100% 70%,
    68% 93%,
    29% 92%,
    0% 70%,
    0% 30%
  );
  border: 2px solid #a01697;
}

.bio-description {
  font-size: 11px;
  font-family: "Open-sans";
  color: #a01697;
  font-weight: bold;
  margin: 10px;
  padding: 10px;
}
