.name-form,
.body-form,
.email-form {
  box-sizing: border-box;
  margin: 6px;
  width: 100%;
}

.name-form,
.email-form {
  font-size: 12px;
}

.body-form {
  font-size: 12px;
}

.form-button {
  float: right;
  margin: 5px 0 0 0;
  font-size: 12px;
  padding: 8px 25px;
  color: #fff;
  background: transparent;
  outline: 0;
  &:hover {
    background-color: #39cddd;
    transition: 0.5s ease-in;
    transition: 0.5s ease-out;
  }
}

.form-control {
  display: block;
  font-size: 1.5rem;
}
